*{
padding: 0;
background-color: dodgerblue;

}

.book {
font-size: 45px;
color: rgb(255, 238, 1);
border-radius: 50vw;
background-color: chartreuse;
text-align: center;
}
.icon1{
text-align: center;
height: 50vw;
left: 50vw;
opacity: 1;

}