body{
background-color: #052413;
text-align: center;
}
#teste{
border-bottom: vw;
color: #07D962;
background-color: #440a6b;
}

h2{
font-family: Arial, Helvetica, sans-serif;
background-color:azure;
border-radius: 50vw;
text-align: center;
text-decoration-color: yellowgreen;;
}

.welcome{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
background-color: crimson;
border-radius: 50vw;
}

.logo{
border-radius: 50vw;
width: 5.75%;
text-align: left;

}

div{
font-size: 25px;
color: rgb(5, 5, 5);
inline-size:auto;
justify-content: space-between;
}

.texto{
font-size: 45px;
}

button{
font-family: 'Times New Roman', Times, serif;
 color: rgb(240, 1, 73);
 font-size: 45px;
border-color: aqua;
height: 20%;;
}

.coffe{
text-align: center;
color: rgb(59, 3, 3);
font-size: 45px;
-webkit-text-fill-color: gold;
border-color: cornflowerblue;
}
